@model ProjetVideotheque.Models.Film

@{
    ViewData["Title"] = "Details";
}

<div class="details">
    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.NomFilm)</th>
                <th>@Html.DisplayNameFor(model => model.DateSortieFilm)</th>
                <th> @Html.DisplayNameFor(model => model.NbLocationsFilm)</th>
                <th> @Html.DisplayNameFor(model => model.DisponibiliteFilm)</th>
                <th> @Html.DisplayNameFor(model => model.CategorieFilm)</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <th>   @Html.DisplayFor(model => model.NomFilm)</th>
                <td>   @Html.DisplayFor(model => model.DateSortieFilm)</td>
                <td>   @Html.DisplayFor(model => model.NbLocationsFilm)</td>

                    @if (ViewBag.disponibilite == true)
                    {
                        <td class="itemDispo">Disponible</td>
                    }
                    else
                    {
            <td class="itemNonDispo">Indisponible</td>
                    }

                <td>
                    @Html.DisplayFor(model => model.CategorieFilm)
                </td>

            </tr>
          
        </tbody>
      
    </table>

    <div class="groupButton">
        <div id="saveAction" >
            <a asp-action="Edit" asp-route-id="@Model.Id"><input type="button" class="btn btn-primary" id="saveActionInput" value="Editer" /></a>
        </div>
        <div id="cancelAction">
            <a asp-action="Index"><input type="button" id="cancelActionInput" value="Annuler" /></a>
        </div>
    </div>
</div>