@model IEnumerable<ProjetVideotheque.Models.Film>

@{
    ViewData["Title"] = "Index";
}

<div class="row" id="topBar">
        <form asp-controller="Films" asp-action="Index" method="get">
            <p>
                <input type="text" name="SearchString" placeholder="Rechercher un film" />
                <input type="submit" value="Filter" />
            </p>
        </form>

        <p class=" offset-md-8">
            <button class="btn btn-primary " onclick="location.href='@Url.Action("Create", "Films")'">+ Ajouter un film</button>
        </p>
</div>


    <div class="row">
       
        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="width: 30%;">
                        @Html.DisplayNameFor(model => model.NomFilm)
                    </th>
                    <th style="width: 10%;">
                        @Html.DisplayNameFor(model => model.CategorieFilm)
                    </th>
                    <th style="width: 20%;">
                        @Html.DisplayNameFor(model => model.RealisateurFilm)
                    </th>
                    <th style="width: 10%;">
                        @Html.DisplayNameFor(model => model.DateSortieFilm)
                    </th>
                    <th style="width: 15%;">
                        @Html.DisplayNameFor(model => model.DisponibiliteFilm)
                    </th>

                    <th style="width: 15%;"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td style ="width: 30%;">
                            @Html.DisplayFor(modelItem => item.NomFilm)
                            </td>
                        <td style ="width: 10%;">
                            @Html.DisplayFor(modelItem => item.CategorieFilm)
                            </td>
                            <td style="width: 20%;">
                                @Html.DisplayFor(modelItem => item.RealisateurFilm)
                            </td>
                            <td  style="width: 10%;">
                                @Html.DisplayFor(modelItem => item.DateSortieFilm.Year)
                            </td>
                            <td style="width: 15%;">
                                @if ((bool)item.DisponibiliteFilm)
                                {
                                    <p class="itemDispo">Disponible</p>
                                }
                                else
                                {
                                    <p class="itemNonDispo">Indisponible</p>
                                }

                            </td>

                            <td style ="width: 15%;">
                                <a asp-action="Details" asp-route-id="@item.Id"><img class="smallIcon" src="@Url.Content("~/details.png")" alt="detailsFilm" /></a>
                                <a asp-action="Edit" asp-route-id="@item.Id"><img class="smallIcon" src="@Url.Content("~/edit.png")" alt="editFilm" /></a>
                                <a asp-action="Delete" asp-route-id="@item.Id"><img class="smallIcon" src="@Url.Content("~/delete.png")" alt="deleteFilm" /></a>
                            </td>
                    </tr>
                }
            </tbody>
         </table>
    </div>