@model IEnumerable<ProjetVideotheque.Models.Film>

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <form asp-controller="Films" asp-action="Index" method="get">
        <p>
            <input type="text" name="SearchString" placeholder="Rechercher un film" />
            <input type="submit" value="Filter" />
        </p>
    </form>

    <p class=" offset-md-8">
        <button class="btn btn-primary " onclick="location.href='@Url.Action("Create", "Films")'">+ Ajouter un film</button>
    </p>
</div>


    <div class="row">
       
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.NomFilm)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CategorieFilm)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RealisateurFilm)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DateSortieFilm)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DisponibiliteFilm)
                    </th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.NomFilm)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CategorieFilm)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RealisateurFilm)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateSortieFilm.Year)
                        </td>
                        <td>
                            @if ((bool)item.DisponibiliteFilm)
                            {
                                <p class="itemDispo">Disponible</p>
                            }
                            else
                            {
                                <p class="itemNonDispo">Indisponible</p>
                            }

                        </td>

                        <td>
                            <a asp-action="Details" asp-route-id="@item.Id"><img class="smallIcon" src="@Url.Content("~/details.png")" alt="detailsFilm" /></a> 
                            <a asp-action="Edit" asp-route-id="@item.Id"><img class="smallIcon" src="@Url.Content("~/edit.png")" alt="editFilm" /></a> 
                            <a asp-action="Delete" asp-route-id="@item.Id"><img class="smallIcon" src="@Url.Content("~/delete.png")" alt="deleteFilm" /></a>
                        </td>
                    </tr>
                }
            </tbody>
         </table>
    </div>