<DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Movie App</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/site.css" />
  

</head>
<body>
    <div class="wrapper">

        <!-- Sidebar -->
        <nav id="sidebar">
                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index"><img class="icon" src="@Url.Content("~/home.png")" alt="Home" /></a>
                <a class="nav-link" asp-area="" asp-controller="Films" asp-action="Index"><img  class="icon"src="@Url.Content("~/clap.png")" alt="Films" /></a>
                <a class="nav-link" asp-area="" asp-controller="Clients" asp-action="Index"><img class="icon"src="@Url.Content("~/user.png")" alt="Clients" /></a>
                <a class="nav-link" asp-area="" asp-controller="Locations" asp-action="Index"><img class="icon" src="@Url.Content("~/clock.png")" alt="Locations" /></a>
            
        </nav>

        <!-- Page Content -->
        <div class="w-100 p-3 customisedBackground">
                @RenderBody()
        </div>
       
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>