@{
    ViewData["Title"] = "Home Page";

    IEnumerable<Film> films = ViewData["Films"] as IEnumerable<Film>;
    IEnumerable<Location> locations = ViewData["Locations"] as IEnumerable<Location>;
}

<div class="row">
    <div class="col">
        <h1>Les plus loués</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>
                      Nom du film
                    </th>
                    <th>
                       Date sortie
                    </th>
                    <th>
                      Nb Location
                    </th>
                    <th>
                    Disponibilité
                    </th>
                    <th>Catégorie
                    </th>
                    <th></th>
                </tr>
            </thead>


           
            
                @foreach (Film film in films)
                {
        <tr>

            <td>
                @film.NomFilm
            <td>
                @film.DateSortieFilm
            </td>
            <td>@film.NbLocationsFilm</td>

            <td>@film.DisponibiliteFilm</td>
            <td>@film.CategorieFilm</td>
        </tr>
                }

        </table>
    </div>

    <div class="col">
        <h1>Location en cours</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>
                        Date retour
                    </th>
                    <th>
                        Titre film
                    </th>
                    <th></th>
                </tr>
            </thead>



            @foreach (Location loc in locations)
                {
                    <tr>

                        <td>
                            @loc.DateRetourLocation
                        <td>
                            @loc.FilmId
                        </td>
                        <td>  <a asp-action="Delete" asp-route-id="@loc.Id">Retourner</a> |</td>
                    </tr>
                }

        </table>

    </div>

</div>
