@{
    ViewData["Title"] = "Home Page";

    IEnumerable<Film> films = ViewData["Films"] as IEnumerable<Film>;
    IEnumerable<Location> locations = ViewData["Locations"] as IEnumerable<Location>;
}

<div class="row">
    <div class="col">
        <h1>Les plus loués</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>
                    </th>
                    <th>
                        Titre du film
                    </th>
                    <th>
                        Nombre d'emprunts
                    </th>
                    <th></th>
                </tr>
            </thead>
            @if (films != null)
            {
                @foreach (Film film in films)
                {
                    <tr>
                        <td></td>
                        <td>@film.NomFilm</td>
                        <td>@film.NbLocationsFilm</td>
                        <td><a asp-controller="Films" asp-action="Details" asp-route-id="@film.Id">Details</a></td>

                    </tr>
                }
            }


        </table>
    </div>

    <div class="col">
        <h1>Location en cours</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Date retour
                    </th>
                    <th>
                        Titre film
                    </th>
                    <th></th>
                </tr>
            </thead>

            @if (locations != null)
            {
                @foreach (Location location in locations)
                {



                    @if (!location.RenduFilm)
                    {

                        <tr>
                            <td>
                                @location.DateRetourLocation
                            <td>
                                @location.LocationFilmId.NomFilm
                            </td>
                            <td>
                                <a asp-controller="Locations" asp-action="ReturnFilm" asp-route-id="@location.Id">Retourner</a>
                            </td>
                        </tr>
                    }
                }
            }

        </table>

    </div>

</div>
