@model ProjetVideotheque.Models.Client

@{
    ViewData["Title"] = "Details";

    IEnumerable<Location> locations = ViewData["Locations"] as IEnumerable<Location>;
}


<div class="details">
    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.NomClient)</th>
                <th>@Html.DisplayNameFor(model => model.PrenomClient)</th>
                <th> @Html.DisplayNameFor(model => model.AdresseClient)</th>
                <th> @Html.DisplayNameFor(model => model.MailClient)</th>
                <th> @Html.DisplayNameFor(model => model.NbFilmsLoues)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>   @Html.DisplayFor(model => model.NomClient)</th>
                <td>   @Html.DisplayFor(model => model.PrenomClient)</td>
                <td>   @Html.DisplayFor(model => model.AdresseClient)</td>
                <td> @Html.DisplayFor(model => model.MailClient)</td>
                <td> @Html.DisplayFor(model => model.NbFilmsLoues)</td>

            </tr>

        </tbody>
    </table>

    @if (locations != null)
    {

        <div>
            Location en cours :
            <ul>

                @foreach (Location location in locations)
                {
                    <li>
                        @location.LocationFilmId.NomFilm
                    </li>
                }
            </ul>
        </div>
            }


            <div class="groupButton">
                <div id="saveAction">
                    <a asp-action="Edit" asp-route-id="@Model.Id"><input type="button" class="btn btn-primary" id="saveActionInput" value="Editer" /></a>
                </div>
                <div id="cancelAction">
                    <a asp-action="Index"><input type="button" id="cancelActionInput" value="Annuler" /></a>
                </div>
            </div>


            <form asp-action="Facture">
                <input type="hidden" asp-for="Id" />
                <div class="groupButton">
                    <div id="saveAction">
                        <input type="submit" value="Imprimer facture" class="btn btn-danger" id="saveActionInput" />

                    </div>
                </div>

            </form>
        </div>