@model ProjetVideotheque.Models.Client

@{
    ViewData["Title"] = "Details";
}


<div class="details">
    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.NomClient)</th>
                <th>@Html.DisplayNameFor(model => model.PrenomClient)</th>
                <th> @Html.DisplayNameFor(model => model.AdresseClient)</th>
                <th> @Html.DisplayNameFor(model => model.MailClient)</th>
                <th> @Html.DisplayNameFor(model => model.NbFilmsLoues)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>   @Html.DisplayFor(model => model.NomClient)</th>
                <td>   @Html.DisplayFor(model => model.PrenomClient)</td>
                <td>   @Html.DisplayFor(model => model.AdresseClient)</td>
                <td> @Html.DisplayFor(model => model.MailClient)</td>
                <td> @Html.DisplayFor(model => model.NbFilmsLoues)</td>

            </tr>

        </tbody>
    </table>

    <div class="groupButton">
        <div id="saveAction">
            <a asp-action="Edit" asp-route-id="@Model.Id"><input type="button" class="btn btn-primary" id="saveActionInput" value="Editer" /></a>
        </div>
        <div id="cancelAction">
            <a asp-action="Index"><input type="button" id="cancelActionInput" value="Annuler" /></a>
        </div>
    </div>
</div>