@model ProjetVideotheque.Models.Client

@{
    ViewData["Title"] = "Facture";

    IEnumerable<Location> locations = ViewData["Locations"] as IEnumerable<Location>;
}


<div>
    <h4>Facture client  </h4>

    <div>
        <h3> Information du client </h3>
        <p>
            @Html.DisplayFor(model => model.PrenomClient)  @Html.DisplayFor(model => model.NomClient)
        </p>
        <p>
            @Html.DisplayFor(model => model.AdresseClient)
        </p>
        <p>
            @Html.DisplayFor(model => model.MailClient)
        </p>
    </div>



    @if (locations != null)
    {



        <table class="table table-bordered">

            <thead>
                <tr>
                    <th>Film</th>
                    <th>Date de début</th>
                    <th>Date de retour</th>
                    <th>Nombre de jours</th>
                    <th>Prix (€ / jour)</th>
                    <th>Total(en €)</th>
                    <th>Indications</th>
                </tr>
            </thead>

            <tbody>

                @foreach (Location location in locations)
                {
                 
                    <tr>
                        <td>


                            @location.LocationFilmId.NomFilm




                        </td>
                        <td>@location.DateDebutLocation.Day/@location.DateDebutLocation.Month/@location.DateDebutLocation.Year</td>
                        <td>@location.DateRetourLocation.Day/@location.DateRetourLocation.Month/@location.DateRetourLocation.Year</td>
                        <td> @((location.DateRetourLocation.Date - location.DateDebutLocation.Date).TotalDays) </td>
                        <td> @location.LocationFilmId.PrixParJour </td>
                        <td> @(location.LocationFilmId.PrixParJour * ((location.DateRetourLocation.Date - location.DateDebutLocation.Date).TotalDays)) </td>



                        @if (DateTime.Now > location.DateRetourLocation && location.RenduFilm == false)
                        {
                            <td style="color:red; font-weight:bold">
                                En retard de :
                                @( DateTime.Now.Date.Subtract(location.DateRetourLocation.Date).TotalDays) jours - Date de rendu initiale : @location.DateRetourLocation.Day/@location.DateRetourLocation.Month/@location.DateRetourLocation.Year
                            </td>

                        }
                        else
                        {
                            <td></td>
                        }





                    </tr>
                }
            </tbody>

        </table>

        <p style="font-weight:bold">Total à payer : @ViewBag.totalPrice €</p>

    }


</div>
<div>
    <div class="groupButton">
        <div id="saveAction">
            <input type="submit" onclick="document.querySelector('.groupButton').style.display = 'none';javascript: window.print();document.querySelector('.groupButton').style.display = 'block';" value="Imprimer" class="btn btn-primary" id="saveActionInput" />
        </div>
        <div id="cancelAction">
            <a asp-action="Index"><input type="button" id="cancelActionInput" value="Retour" /></a>
        </div>
    </div>
</div>
