@{
    ViewData["Title"] = "Home Page";
    IEnumerable<Film> films = ViewData["Films"] as IEnumerable<Film>;
    IEnumerable<Location> locations = ViewData["Locations"] as IEnumerable<Location>;
    int counter = 0;
}

<div class="row w-100 p-3">
    <div class="col ">

        <div class="container">

            <h1>Les plus loués</h1>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col" style="width: 10%;">
                        </th>
                        <th scope="col" style="width: 60%;">
                            Titre du film
                        </th>
                        <th scope="col" style="width: 20%;">
                            Nb. emprunts
                        </th>
                        <th scope="col" style="width: 10%;"></th>
                    </tr>
                </thead>
                @if (films != null)
                {
                    @foreach (Film film in films)
                    {
                        <tr scope="row">
                            <th class="text-center">@(++counter)</th>
                            <td>@film.NomFilm</td>
                            <td class="text-center">@film.NbLocationsFilm</td>
                            <td ><a asp-controller="Films" asp-action="Details" asp-route-id="@film.Id"><img class="smallIcon" src="@Url.Content("~/details.png")" alt="detailsFilm" /></a></td>
                        </tr>
                    }
                }
            </table>

        </div>
    </div>

    <div class="col ">
        <div class="container">
            <h1>Prochainement rapporté</h1>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col" style="width: 15%;">
                            Retour
                        </th>
                        <th scope="col" style="width: 70%;">
                            Titre du film
                        </th>
                        <th scope="col"  style="width: 15%;"></th>
                    </tr>
                </thead>

                @if (locations != null)
                {
                    @foreach (Location location in locations)
                    {
                        @if (!location.RenduFilm)
                        {
                            <tr scope="row">
                                <td>
                                    @location.DateRetourLocation.ToShortDateString()
<td>
                                    @location.LocationFilmId.NomFilm
                                </td>
                                <td>
                                    <a asp-controller="Locations" asp-action="ReturnFilm" asp-route-id="@location.Id"> <input type="button" value="Retourner" /></a>
                                </td>
                            </tr>
                        }
                    }
                }

            </table>
        </div>
    </div>

</div>