@model ProjetVideotheque.Models.Location

@{
    ViewData["Title"] = "Retourner un film";
}


<div class="details">
    <h3>Voulez-vous vraiment retourner cette location et l'archiver ?</h3>

    <table class="table">
        <thead>
            <tr>
                <th> @Html.DisplayNameFor(model => model.LocationFilmId)</th>
                <th> Nom du client</th>
                <th> Prénom du client</th>
                <th> @Html.DisplayNameFor(model => model.DateRetourLocation)</th>
                <th> @Html.DisplayNameFor(model => model.RenduFilm)</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>@Html.DisplayFor(model => model.LocationFilmId.NomFilm)</td>
                <td>
                    @Model.LocationClientId.NomClient
                </td>
                <td>@Html.DisplayFor(model => model.LocationClientId.PrenomClient)</td>
                <td>@Html.DisplayFor(model => model.DateRetourLocation)</td>
                <td>@Html.DisplayFor(model => model.RenduFilm)</td>
            </tr>
        </tbody>

    </table>



    <form asp-action="ReturnFilmConfirmed">
        <input type="hidden" asp-for="Id" />
        <div class="groupButton">
            <div id="saveAction">
                <input type="submit" value="Retourner" class="btn btn-primary" id="saveActionInput" />

            </div>

            <div id="cancelAction">
                <a asp-action="Index"><input type="button" id="cancelActionInput" value="Annuler" /></a>
            </div>
        </div>

    </form>




</div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
